web/WEB-INF/wsdl/localhost_8080/ProyectoCalculadora/CalculadoraServicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicioweb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicioweb/">

<xs:element name="PushNumber" type="tns:PushNumber"/>

<xs:element name="PushNumberResponse" type="tns:PushNumberResponse"/>

<xs:element name="StackToString" nillable="true" type="tns:toString"/>

<xs:element name="StackToStringResponse" nillable="true" type="tns:toStringResponse"/>

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="div" type="tns:div"/>

<xs:element name="divResponse" type="tns:divResponse"/>

<xs:element name="getSize" type="tns:getSize"/>

<xs:element name="getSizeResponse" type="tns:getSizeResponse"/>

<xs:element name="getStack" type="tns:getStack"/>

<xs:element name="getStackResponse" type="tns:getStackResponse"/>

<xs:element name="mul" type="tns:mul"/>

<xs:element name="mulResponse" type="tns:mulResponse"/>

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:element name="remainder" type="tns:remainder"/>

<xs:element name="remainderResponse" type="tns:remainderResponse"/>

<xs:element name="sqrt" type="tns:sqrt"/>

<xs:element name="sqrtResponse" type="tns:sqrtResponse"/>

<xs:element name="sub" type="tns:sub"/>

<xs:element name="subResponse" type="tns:subResponse"/>

<xs:element name="toString" type="tns:toString"/>

<xs:element name="toStringResponse" type="tns:toStringResponse"/>

<xs:complexType name="getStack">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStackResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remainder">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="remainderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sqrt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sqrtResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PushNumber">
<xs:sequence>
<xs:element name="num" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PushNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toString">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="toStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mul">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mulResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sub">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="subResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="div">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="divResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSize">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSizeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>