src/conf/xml-resources/web-service-references/CalculadoraServicio/wsdl/localhost_8080/ProyectoCalculadora/CalculadoraServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioweb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioweb/" name="CalculadoraServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioweb/" schemaLocation="http://localhost:8080/ProyectoCalculadora/CalculadoraServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="StackToString">
<part name="parameters" element="tns:StackToString"/>
</message>
<message name="StackToStringResponse">
<part name="parameters" element="tns:StackToStringResponse"/>
</message>
<message name="getStack">
<part name="parameters" element="tns:getStack"/>
</message>
<message name="getStackResponse">
<part name="parameters" element="tns:getStackResponse"/>
</message>
<message name="PushNumber">
<part name="parameters" element="tns:PushNumber"/>
</message>
<message name="PushNumberResponse">
<part name="parameters" element="tns:PushNumberResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="remainder">
<part name="parameters" element="tns:remainder"/>
</message>
<message name="remainderResponse">
<part name="parameters" element="tns:remainderResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="sqrt">
<part name="parameters" element="tns:sqrt"/>
</message>
<message name="sqrtResponse">
<part name="parameters" element="tns:sqrtResponse"/>
</message>
<message name="getSize">
<part name="parameters" element="tns:getSize"/>
</message>
<message name="getSizeResponse">
<part name="parameters" element="tns:getSizeResponse"/>
</message>
<portType name="CalculadoraServicio">
<operation name="StackToString">
<input wsam:Action="http://servicioweb/CalculadoraServicio/StackToStringRequest" message="tns:StackToString"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/StackToStringResponse" message="tns:StackToStringResponse"/>
</operation>
<operation name="getStack">
<input wsam:Action="http://servicioweb/CalculadoraServicio/getStackRequest" message="tns:getStack"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/getStackResponse" message="tns:getStackResponse"/>
</operation>
<operation name="PushNumber">
<input wsam:Action="http://servicioweb/CalculadoraServicio/PushNumberRequest" message="tns:PushNumber"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/PushNumberResponse" message="tns:PushNumberResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://servicioweb/CalculadoraServicio/mulRequest" message="tns:mul"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://servicioweb/CalculadoraServicio/subRequest" message="tns:sub"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/subResponse" message="tns:subResponse"/>
</operation>
<operation name="remainder">
<input wsam:Action="http://servicioweb/CalculadoraServicio/remainderRequest" message="tns:remainder"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/remainderResponse" message="tns:remainderResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://servicioweb/CalculadoraServicio/divRequest" message="tns:div"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/divResponse" message="tns:divResponse"/>
</operation>
<operation name="ping">
<input wsam:Action="http://servicioweb/CalculadoraServicio/pingRequest" message="tns:ping"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/pingResponse" message="tns:pingResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://servicioweb/CalculadoraServicio/addRequest" message="tns:add"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/addResponse" message="tns:addResponse"/>
</operation>
<operation name="sqrt">
<input wsam:Action="http://servicioweb/CalculadoraServicio/sqrtRequest" message="tns:sqrt"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/sqrtResponse" message="tns:sqrtResponse"/>
</operation>
<operation name="getSize">
<input wsam:Action="http://servicioweb/CalculadoraServicio/getSizeRequest" message="tns:getSize"/>
<output wsam:Action="http://servicioweb/CalculadoraServicio/getSizeResponse" message="tns:getSizeResponse"/>
</operation>
</portType>
<binding name="CalculadoraServicioPortBinding" type="tns:CalculadoraServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="StackToString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PushNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remainder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sqrt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraServicio">
<port name="CalculadoraServicioPort" binding="tns:CalculadoraServicioPortBinding">
<soap:address location="http://localhost:8080/ProyectoCalculadora/CalculadoraServicio"/>
</port>
</service>
</definitions>